:root {
  --bg: hsl(29, 93%, 95%);
  --on-bg: hsl(228, 49%, 12%);
  --bg-primary: hsl(0, 0%, 100%);
  --on-bg-primary: hsl(228, 49%, 12%);
  --primary: hsl(358, 74%, 51%);
  --on-primary: hsl(0, 0%, 100%);
}
